@model IEnumerable<dynamic>
<div class="container mt-3">
    <h2>Players Game Count</h2>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Amount of games played</th>
            </tr>
        </thead>
        <tbody>
            @foreach (dynamic item in Model)
            {
                <tr>
                    <td>@(item.PlayerName)</td>
                    <td>@(item.GameCount)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

