@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<<<<<<< HEAD
<h1>@ViewData["Title"]</h1>
<br />
<h4>Name: Idan Hur </h4>
=======
<div class="container mt-5">
    <div>
        <h1 class="card-title">@ViewData["Title"]</h1>
        <hr class="my-3">
        <h4 class="card-subtitle mb-2 text-muted">Name: Idan Hur </h4>
    </div>
</div>
>>>>>>> main
