@page
@model Server.Pages.EditPlayerModel
@{
    ViewData["Title"] = "Edit Player";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container-fluid mt-5">
    <div id="playerSelectionDiv" class="form-background mx-auto" style="width: 200px;">
        <!-- Select player and enter password form -->
        <form id="passwordCheckForm" asp-page-handler="CheckPassword" method="post">
            <div class="form-group mb-3">
                <label asp-for="SelectedPlayerId"><strong>Player</strong></label>
                <select asp-for="SelectedPlayerId" asp-items="@(new SelectList(Model.Players.Select(p => new { Id = p.PlayerId, Name = $"{p.PlayerId}: {p.Name}"}), "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="SelectedPlayerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="PlayerPassword"><strong>Password</strong></label>
                <input asp-for="PlayerPassword" type="password" class="form-control" placeholder="Enter password">
                <span asp-validation-for="PlayerPassword" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </form>
    </div>

    @if (Model.EditPlayer != null && Model.EditPlayer.PlayerId == Model.SelectedPlayerId)
    {
        <div class="mt-3" id="playerDetailsDiv">
            <label><strong>Selected Player</strong></label><br>
            <label><strong>ID:</strong> @Model.EditPlayer.PlayerId </label><br>
            <label><strong>Name:</strong> @Model.EditPlayer.Name</label>
        </div>
        <div class="container-fluid mt-3 d-flex justify-content-between gap-3" id="playerActionsContainer">
                <form asp-page-handler="DeletePlayer" method="post">
                    <input type="hidden" asp-for="SelectedPlayerId" />
                    <button type="submit" id="deletePlayerButton" class="btn btn-primary btn-lg btn-block">Delete Player</button>
                </form>
            <button type="button" id="deleteGameButton" class="btn btn-primary btn-lg mr-3">Delete Game</button>
            <button type="button" id="editPlayerButton" class="btn btn-primary btn-lg">Edit Player</button>
        </div>
    }

    <div id="editPlayerDiv" class="d-none">
        <!-- Edit player details form -->
            <form asp-page-handler="EditPlayer" method="post" class="form-background mx-auto w-75 mt-3">
                <input type="hidden" asp-for="playerOriginalId" />
                <partial name="Players/_PlayerForm" model="Model.EditPlayer" />
            </form>        
    </div>

    @if (Model.EditPlayer != null)
    {
        <div id="PlayerGamesDiv" class="d-none">
            <form asp-page-handler="DeletePlayerGame" method="post" class="form-background mx-auto w-75 mt-3">
                <input type="hidden" asp-for="playerOriginalId" /> 
                <div class="form-group mb-3">
                    <label for="SelectedGameId"><strong>Game</strong></label>
                    <select name="SelectedGameId" asp-items="@(new SelectList(Model.EditPlayer.Games.Select(g => new { Id = g.GameId, Name = $"{g.GameId}: {g.Status}"}), "Id", "Name"))" class="form-control"></select>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-lg">Delete Game</button>
                </div>
            </form>
        </div>
    }
</div>

@section Scripts {
    <script src="~/js/editPlayer.js"></script>
}
