@page
@model Server.Pages.EditPlayerModel
@{
    ViewData["Title"] = "Edit Player";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form asp-page-handler="CheckPassword" method="post" class="form-background mx-auto w-75">
    <div class="form-group">
        <label asp-for="SelectedPlayerId">Player</label>
        <select asp-for="SelectedPlayerId" asp-items="@(new SelectList(Model.Players, "playerId", "playerName"))" class="form-control"></select>
    </div>
    <div class="form-group">
        <label asp-for="PlayerPassword">Password</label>
        <input asp-for="PlayerPassword" type="password" class="form-control" placeholder="Enter password">
        <span asp-validation-for="PlayerPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@if (Model.EditPlayer != null && Model.EditPlayer.playerId == Model.SelectedPlayerId)
{
    <form asp-page-handler="EditPlayer" method="post" class="form-background mx-auto w-75">
        <partial name="Players/_PlayerForm" model="Model.EditPlayer" />
    </form>

}
