@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container about-container">
    <div class="row">
        <div class="col">
            <a href="/Registration" class="btn btn-primary registration-btn">Registration</a>
        </div>
        <div class="col">
            <div class="dropdown about-dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    DB Queries
                </button>
                <div class="dropdown-menu queries-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" type="button">Action</button>
                    <button class="dropdown-item" type="button">Another action</button>
                    <button class="dropdown-item" type="button">Something else here</button>
                </div>
            </div>
        </div>
        <div class="col">
            <a href="/About" class="btn btn-primary about-btn">About</a>
        </div>
    </div>
</div>


