@page
@model GameManager.Player
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
<!-- Add styles that are spacific to this page -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/Registration.css" />

}


<h2>@ViewData["Title"]</h2>


<div class="container-fluid mt-5">
    <form asp-action="Create" method="post" class="form-background mx-auto w-75">
        <div class="form-group">
            <label asp-for="playerName">Player Name</label>
            <input asp-for="playerName" class="form-control" placeholder="Enter player name">
            <span asp-validation-for="playerName" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="playerId">ID</label>
            <input asp-for="playerId" class="form-control" placeholder="Enter ID">
            <span asp-validation-for="playerId" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="phoneNumber">Phone Number</label>
            <input asp-for="phoneNumber" class="form-control" placeholder="Enter phone number">
            <span asp-validation-for="phoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="country"><strong>Country</strong></label>
            <select asp-for="country" class="form-control" id="country"></select>
            <span asp-validation-for="country" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
    </form>
</div>




<!-- Add scripts that are spacific to this page -->
@section Scripts {
    <script src="~/js/Registration.js"></script>

}