@page
@model Server.Pages.RegisterModel
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
<!-- Add styles that are spacific to this page -->
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/register.css" />

}


<h2>@ViewData["Title"]</h2>

<partial name="Players/_PlayerForm" model="Model.NewPlayer" />
